<div id="modal" class="hide">
    <div class="close">
        <a href="#">Fechar</a>
    </div>
    <div class="content">
        <div class="header">
            <h1>Pontos de coleta</h1> 
        </div>
        <form action="/search">
            <div class="search field">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
                <input type="text" id="search" name="search" placeholder="Pesquise por cidade">
            </div>
        </form>
    </div>
</div>
